@charset "UTF-8";

@font-face {
    font-family: 'Comic Sans';
    src: url("Comic Sans MS.ttf");
}

* {
    margin: 0;
}


body {
    background-color: #E1DCCF;
    text-align: center;
}

nav {
    width: 100%;
    height: 58px;
    background: #3D4F6B;
    color: white;
    font-family: 'Comic Sans';
}

#headerNav a {
    float: right;
    color: white;
    padding: 17px 20px;
    text-decoration: none;
    font-size: 20px;
}

#headerNav #homeButtom {
    float: left;
    padding: 4px 16px;
}

img#profile_pic {
    border-radius: 50%;
    padding-block-end: 20px;
}

main {
    padding: 10%;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto 
}

footer {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom:0px;
    font-size: 15px;
    background: #7E7569;
    font-family: 'Comic Sans';
}

#footerNav {
}
