@charset "UTF-8";

@font-face {
    font-family: 'Comic Sans';
    src: url("Comic Sans MS.ttf");
}

#profile #box{
    background-color: green;
}

#index #box {   
    font-family: 'Comic Sans';
    margin: 10;
    background-color: green;
    color: greenyellow;
    text-align: center;
}
#home #body {
    background: green;
}

body {
    background-color: aliceblue;
}

h1#Brancas {
    color: blueviolet;
}

img#profile_pic {
    border-radius: 50%;
}

